# QBit Specific
QBIT_URL=http://example.com:6011
QBIT_USERNAME=Username
QBIT_PASSWORD=Password

# Prepend to the torrent root_path directory
# (incase the path is from inside of a docker container)
RSYNC_FROM_PATH_PREPEND=/home/qbit/storage/downloads
RSYNC_FROM_PATH_HOST=server@example

RSYNC_TO_PATH_MOVIES=/mnt/media/movies
RSYNC_TO_PATH_TV_SHOWS=/mnt/media/tv_shows

OLLAMA_URL=http://localhost:11434/api/chat

LOG_FILE=./qbit_mover.log

DRY_RUN=false
USE_LOG_FILE=true