# QBit Specific
QBIT_URL=
QBIT_USERNAME=
QBIT_PASSWORD=

# Preppended to the torrent root_path directory
# (incase the path is from inside of a docker container)
RSYNC_FROM_PATH_PREPEND=
RSYNC_FROM_PATH_HOST=

RSYNC_TO_PATH=

MOVIE_TAG=Movies
TV_SHOW_TAG=TV_Show
MOVED_TAG=Moved
FAILED_TAG=Failed

DRY_RUN=false